.skills-section {
    background-color: #1a1a1a;
    padding: 60px 0;
  }
  
  .slider {
    overflow: hidden;
    position: relative;
    height: 120px;
  }
  
  .slide-track {
    display: flex;
    width:calc(250px * 14);
    animation: scroll 15s linear infinite;
  }
  
  
  .slide {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    background-color: #222;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.3);
    color: white;
    text-align: center;
  }
  
  .slide img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 6px;
  }
  
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  